/* Общие стили для страницы */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Контейнер для выбора ролей */
.role-selection {
    background-color: #B0C4DE;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 600px;
}

/* Заголовок */
.role-selection h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    color: #38250e;;
}

.button-container {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Кнопки по краям */
    gap: 10px; /* Расстояние между кнопками */
}

.add-btn {
    margin-left: auto;
    margin-right: auto;
    background-color: #4682B4; /* Цвет кнопки */
    color: #ebd1ca;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-btn:hover {
    background-color: #000080;
    color: #fff;
    transform: scale(1.05);
}
