{% extends 'layout.html' %}

{% block title %}О разработчике{% endblock %}

{% block content %}
<div class = "about">
    <div class="container">
        <div class="profile">
            <img src="{{ url_for('static', filename='img/photo.jpg') }}" alt="Фото разработчика" class="profile-img">
            <h1 class="name">Никита</h1>
            <p class="bio">Программист, увлекаюсь разработкой веб-приложений. Стремлюсь создавать удобные и эффективные решения для пользователей.</p>
            <div class="social-links">
                <a href="" target="_blank" class="social-link">GitHub</a>
                <a href="" target="_blank" class="social-link">LinkedIn</a>
                <a href="" target="_blank" class="social-link">Twitter</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
