{% extends 'layout.html' %}

{% block title %}Товар{% endblock %}

{% block content %}
<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="greeting">
        <h1>{{ book[0] }}</h1>
    </div>
    <h3>Информация</h3>
    <ol class="book_info">
        <li>Автор: <span class="book-value">{{ author[0] }}</span></li>
        <li>Издательство (год публикации): <span class="book-value">{{ book[4] }} ({{ book[2] }}г.)</span></li>
        <li>Описание: <span class="book-value">{{ book[5] }}</span></li>
        <li>Оставшееся количество: <span class="book-value">{{ book[3] }} шт.</span></li>
    </ol>
    {% if current_user.role == "user" %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.submit (class="login-btn") }}
        </div>
    </form>

    <form action="{{ url_for('add_like', isbn=book[1]) }}" method="POST">
        <button type="submit" class="login-btn">Добавить в избранные</button>
    </form>
    <form action="{{ url_for('add_feedback', isbn=book[1]) }}" method="POST" >
        <button type="submit" class="login-btn">Добавить отзыв</button>
    </form>
    <form action="{{ url_for('feedback', isbn=book[1]) }}" method="POST">
        <button type="submit" class="login-btn">Просмотреть все отзывы</button>
    </form>
    {% elif current_user.role == 'admin' %}
        <form action="{{ url_for('delete_book', isbn=book[1]) }}" method="POST">
            <button type="submit" class="btn btn-danger">
                Удалить  <i class="bi bi-trash-fill"></i>
            </button>
        </form>
        <form action="{{ url_for('feedback', isbn=book[1]) }}" method="POST">
            <button type="submit" class="login-btn">Просмотреть отзывы</button>
        </form>
    {% endif %}
</div>
{% endblock %}
