{% extends 'layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="content">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="greeting" style="background-image: url('/static/img/fon.jpg'); background-size: cover; background-position: center; padding: 50px;">
        {% if current_user.is_authenticated == false%}
            <h1 class="begin">Добро пожаловать в онлайн библиотеку!</h1>
            <p class="begin">Книги – это удивительный мир знаний, вдохновения и эмоций.
                Они помогают нам развиваться, находить ответы на важные вопросы и мечтать о большем.
                Мы рады стать частью вашего пути к новым открытиям и ярким историям.
                Исследуйте наш каталог и найдите книгу, которая станет вашим верным спутником.</p>
        {% endif  %}
        <p class="begin">Поиск</p>
        <form method="POST">
            <div class = 'search-container'>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.search_query.label }}
                {{ form.search_query(class="form-control") }}
            </div>
            {{ form.submit (class = "add-btn") }}
            </div>
        </form>
    </div>

    <!-- Books Section -->
    <div class="">
        <div class="row">
            {% for book in books %}
                <div class="col-md-3 mb-4">
                    <div class="card text-center h-100">
                        <a href="{{ url_for('book_detail', isbn=book[1]) }}">
                        <img src="{{ url_for('static', filename='img/kniga.jpg') }}"
                             class="card-img-top"
                             alt="{{ book[1] }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ book[0] }}</h5>
                            <h5 class="card-title">{{ book[6] }}</h5>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
