{% extends 'layout.html' %}

{% block title %}Добавление скидки{% endblock %}

{% block content %}
<div class="about">
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  <div class="container">
    <h3>Введите ISBN книги</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.isbn.label }}
                  {{ form.isbn(class="form-control", placeholder="Введите ISBN") }}
                  {% if form.isbn.errors %}
                      <div class="text-danger">
                          {{ form.isbn.errors[0] }}
                      </div>
                  {% endif %}
              </div>
              <div>
                  {{ form.submit(class="add-btn") }}
              </div>
    </form>
  </div>
</div>
{% endblock %}
